beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
et_xmlfile==2.0.0
idna==3.10
iniconfig==2.1.0
openpyxl==3.1.5
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
requests==2.32.4
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
